

//font 

$mainTitle: 600 48px / 64px 'Aria', sans-serif;

$sectionTitle: 600 28px /48px 'Aria', sans-serif;

// Font Color

$standartColor: #565656;


// Margin

$marginBtm90: 90px;
$marginBtm70: 70px;
$marginBtm50: 50px;
$marginBtm20: 20px;