

//font 

$latofont: 'Lato', sans-serif;
$redhatfont: 'Red Hat Display', sans-serif;

$mainTitle: 600 48px / 64px 'Red Hat Display', sans-serif;

$sectionTitle: 600 28px /48px 'Red Hat Display', sans-serif;

// Font Color

$standartColor: #565656;


// Margin

$marginBtm90: 90px;
$marginBtm70: 70px;
$marginBtm50: 50px;
$marginBtm20: 20px;